<div class="checklist-container">
  <div class="navbar">
    Checklist
  </div>
  <div class="title">
    My Checklist
  </div>
  <div class="list-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 itemm">Item Name</div>
        <div class="col-2 itemm">Qty</div>
        <div class="col-2 itemm">Unit</div>
        <div class="col-2 itemm">Action</div>
      </div>
      <div class="row">
        <div class="col-6 itemm">Tomato</div>
        <div class="col-2 itemm">2</div>
        <div class="col-2 itemm">Kg</div>
        <div class="col-2 itemm">Action</div>
      </div>
    </div>
  </div>
  <div class="footer">
    Footer
  </div>
</div>